
@{
    ViewBag.Title = "addDoctorDoctolib";
}

<main>
    <div id="breadcrumb">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- /breadcrumb -->
    <div class="container margin_120">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div id="confirm">
                    <div class="icon icon--order-success svg add_bottom_15">
                        <span><img src="https://info.doctolib.fr/wp-content/uploads/2018/06/thank-medecin@2x.png" alt="" width="159" height="151"></span>
                    </div>
                    <h2>Thank you!</h2>
                    <p>Your request has been successfully registered, a consultant will contact you very soon.</p>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->
