<main>
  <div id="breadcrumb">
    <div class="container">
      <ul>
        <li><a href="">Home</a></li>
        <li>List Appointments in pending</li>
      </ul>
    </div>
  </div>
  <!-- /breadcrumb -->
  <div class="container margin_60">
    <div class="row justify-content-center">

      <h2>List of appointments in pending</h2>
      <br /><br /><br /><br />
      <table id="" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Motive</th>
          <th>Message</th>
          <th>Date</th>
          <th>StartTime</th>
          <th>EndTime</th>
          <th>Doctor Name</th>
          <th>Address</th>
          <th>Actions</th>


        </tr>
        </thead>

        <tbody *ngFor="let appointment of listappointments">
        <tr  *ngIf="appointment.status == 'pending'">
          <td>{{appointment.motive.name}}</td>
          <td>{{appointment.message}}</td>
          <td>{{appointment.date}}</td>
          <td>{{appointment.startTime}}</td>
          <td>{{appointment.endTime}}</td>
          <td>{{appointment.doctor.firstName}}  {{appointment.doctor.lastName}}</td>
          <td>{{appointment.doctor.address}}</td>



          <td> <a  [routerLink]="['/appointmenttoupdate',appointment.id,appointment.doctor.specialty.name]" class="btn btn-warning" >Update</a> <span>   </span>  <button (click)="CancelAppointment(appointment.id)" type="submit" class="btn btn-danger">Cancel</button></td>



        </tr>
        </tbody>


      </table>
    </div>
  </div>

  <!-- /row -->
  <!-- /container -->
</main>


